nodered_app/flows.json
[{"id":"9e68c672.123078","type":"tab","label":"Device and Random","disabled":false,"info":""},{"id":"2fc16b49.f8c1e4","type":"tab","label":"2JCIE-BU01 Enviroment Sensor","disabled":false,"info":""},{"id":"ff37b246.d6583","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"mydb","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"","rejectUnauthorized":false},{"id":"45e67b6d.cd3294","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"0","bin":"bin","out":"time","addchar":"","responsetimeout":"10000"},{"id":"b15fd4dc.d200e8","type":"DeviceStats","z":"9e68c672.123078","name":"","mem":true,"nw":false,"load":true,"hostname":false,"useString":false,"x":690,"y":160,"wires":[["72051b2e.91cd14"]]},{"id":"72051b2e.91cd14","type":"function","z":"9e68c672.123078","name":"","func":"var obj = msg.payload;\nmyObj = {};\nmyObj.cpu = obj.load[0] * 100;\nmyObj.mem = obj.mem.used;\nmyObj.free = obj.mem.free;\ntotal = myObj.mem + myObj.free;\nmyObj.mempct = (myObj.mem * 100)/total;\nmsg.payload = myObj;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":160,"wires":[["a0a86b8f.728ee8","22741e5d.697662"]]},{"id":"37bb198b.20db36","type":"debug","z":"9e68c672.123078","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":520,"wires":[]},{"id":"a0a86b8f.728ee8","type":"influxdb out","z":"9e68c672.123078","influxdb":"ff37b246.d6583","name":"","measurement":"system","precision":"","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":1180,"y":160,"wires":[]},{"id":"22741e5d.697662","type":"debug","z":"9e68c672.123078","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":200,"wires":[]},{"id":"4660304b.12f5","type":"inject","z":"9e68c672.123078","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":470,"y":160,"wires":[["b15fd4dc.d200e8"]]},{"id":"364b32ba.d2726e","type":"inject","z":"9e68c672.123078","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":470,"y":260,"wires":[["94b7ccaf.9b137"]]},{"id":"ba4d9d5d.619ea","type":"debug","z":"9e68c672.123078","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":300,"wires":[]},{"id":"94b7ccaf.9b137","type":"random","z":"9e68c672.123078","name":"","low":1,"high":"100","inte":"true","property":"payload","x":690,"y":260,"wires":[["ba4d9d5d.619ea","f6d7fa90.2ad658"]]},{"id":"f6d7fa90.2ad658","type":"influxdb out","z":"9e68c672.123078","influxdb":"ff37b246.d6583","name":"","measurement":"random","precision":"","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":1180,"y":260,"wires":[]},{"id":"6876c665.367a38","type":"2JCIE-BU in","z":"2fc16b49.f8c1e4","name":"","messageFormat":"standard","ttl":"","x":650,"y":640,"wires":[["ef9e96d9.adc818","80c9256f.e8d198"]]},{"id":"ec3861e3.3a2ba","type":"2JCIE-BU out","z":"2fc16b49.f8c1e4","name":"","x":840,"y":340,"wires":[["284f0152.4b552e"]]},{"id":"6f6805d6.de588c","type":"serial in","z":"2fc16b49.f8c1e4","name":"","serial":"45e67b6d.cd3294","x":390,"y":640,"wires":[["6876c665.367a38"]]},{"id":"ef9e96d9.adc818","type":"debug","z":"2fc16b49.f8c1e4","name":"Dump command response message","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1110,"y":640,"wires":[]},{"id":"284f0152.4b552e","type":"serial out","z":"2fc16b49.f8c1e4","name":"","serial":"45e67b6d.cd3294","x":1050,"y":340,"wires":[]},{"id":"7aa2f81.f00da08","type":"inject","z":"2fc16b49.f8c1e4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"getLatestSensorData","payload":"","payloadType":"str","x":450,"y":340,"wires":[["ec3861e3.3a2ba"]]},{"id":"e2bcbd9a.d04cb","type":"inject","z":"2fc16b49.f8c1e4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"getMountingOrientation","payload":"","payloadType":"str","x":440,"y":400,"wires":[["ec3861e3.3a2ba"]]},{"id":"f250422e.9af4c","type":"inject","z":"2fc16b49.f8c1e4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"getDeviceInformation","payload":"","payloadType":"str","x":440,"y":460,"wires":[["ec3861e3.3a2ba"]]},{"id":"8f36631.36302a","type":"inject","z":"2fc16b49.f8c1e4","name":"set LED Color (Light Blue)","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"setLED","payload":"{\"displayRule\":\"ON\",\"color\":\"#5899f3\"}","payloadType":"json","x":450,"y":520,"wires":[["ec3861e3.3a2ba"]]},{"id":"3f8e958b.1c0aea","type":"inject","z":"2fc16b49.f8c1e4","name":"set LED Color Rule (Temperature)","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"setLED","payload":"{\"displayRule\":\"Temperature\"}","payloadType":"json","x":480,"y":580,"wires":[["ec3861e3.3a2ba"]]},{"id":"80c9256f.e8d198","type":"function","z":"2fc16b49.f8c1e4","name":"","func":"var obj = msg.payload;\nmyObj = {};\nmyObj = obj.data;\nmsg.payload = myObj;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":560,"wires":[["558413d6.32754c","231caded.80c712"]]},{"id":"558413d6.32754c","type":"debug","z":"2fc16b49.f8c1e4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":560,"wires":[]},{"id":"231caded.80c712","type":"influxdb out","z":"2fc16b49.f8c1e4","influxdb":"ff37b246.d6583","name":"","measurement":"OMRON","precision":"","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":1110,"y":500,"wires":[]},{"id":"5a5bb28a.2d5efc","type":"inject","z":"9e68c672.123078","name":"Switch1 - ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":570,"y":460,"wires":[["37bb198b.20db36","9081581d.adcf28"]]},{"id":"86fc9359.55a78","type":"inject","z":"9e68c672.123078","name":"Switch1 - OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":570,"y":520,"wires":[["37bb198b.20db36","9081581d.adcf28"]]},{"id":"9081581d.adcf28","type":"influxdb out","z":"9e68c672.123078","influxdb":"ff37b246.d6583","name":"","measurement":"Switch_1","precision":"","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":960,"y":460,"wires":[]},{"id":"711c19d0.5b3a08","type":"debug","z":"9e68c672.123078","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":640,"wires":[]},{"id":"7e4db830.eb9cc8","type":"inject","z":"9e68c672.123078","name":"Switch2 - ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":570,"y":580,"wires":[["711c19d0.5b3a08","b0ff0ea7.1a35a"]]},{"id":"9dd75d25.701f7","type":"inject","z":"9e68c672.123078","name":"Switch2 - OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":570,"y":640,"wires":[["711c19d0.5b3a08","b0ff0ea7.1a35a"]]},{"id":"b0ff0ea7.1a35a","type":"influxdb out","z":"9e68c672.123078","influxdb":"ff37b246.d6583","name":"","measurement":"Switch_2","precision":"","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":960,"y":580,"wires":[]},{"id":"a37d0751.2611e8","type":"debug","z":"9e68c672.123078","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":760,"wires":[]},{"id":"db392f87.6aa6","type":"inject","z":"9e68c672.123078","name":"Switch3 - ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":570,"y":700,"wires":[["a37d0751.2611e8","4a8b50d5.b000d"]]},{"id":"fbcf2907.1aac58","type":"inject","z":"9e68c672.123078","name":"Switch3 - OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":570,"y":760,"wires":[["a37d0751.2611e8","4a8b50d5.b000d"]]},{"id":"4a8b50d5.b000d","type":"influxdb out","z":"9e68c672.123078","influxdb":"ff37b246.d6583","name":"","measurement":"Switch_3","precision":"","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":960,"y":700,"wires":[]}]